<div class="px-4 sm:px-0 m-8">
  <h2 class="font-sans text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Your Pending Orders</h2>
</div>
<div class="grid grid-cols-4 gap-4">
  @for (item of data; track item.id) {
  <div class="ms-8 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          #{{item.id}} - Date: {{ item.date | date:'dd/MM/yyyy'}}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Branch: {{ item.branch.name }}</p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Client: {{ item.user.name }}</p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Total: {{ item.total | currency : "USD" }}</p>

      <a
        class="mr-1 inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-lg focus:ring-4 focus:outline-none"
        [ngClass]="{
          'bg-green-700 text-white hover:bg-green-800 focus:ring-green-300': item.canceled === 'NO',
          'bg-red-700 text-white hover:bg-red-800 focus:ring-red-300': item.canceled === 'YES'
        }"
        (click)="detail(item.id)"
      >
        Read more
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>

      <a
        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        (click)="loadInvoice(item.id)"
      >
        Load To Cart
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
  }
</div>

<div class="px-4 sm:px-0 m-8">
  <h2 class="font-sans text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Your Canceled Orders</h2>
</div>
<div class="grid grid-cols-4 gap-4">
  @for (item of dataCanceled; track item.id) {
  <div class="ms-8 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <div class="p-5">
      <a href="#">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          #{{item.id}} - Date: {{ item.date | date:'dd/MM/yyyy'}}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Branch: {{ item.branch.name }}</p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Client: {{ item.user.name }}</p>
      <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Total: {{ item.total | currency : "USD" }}</p>

      <a
        class="mr-1 inline-flex items-center px-3 py-2 text-sm font-medium text-center rounded-lg focus:ring-4 focus:outline-none"
        [ngClass]="{
          'bg-blue-700 text-white hover:bg-blue-800 focus:ring-blue-300': item.canceled === 'NO',
          'bg-red-700 text-white hover:bg-red-800 focus:ring-red-300': item.canceled === 'YES'
        }"
        (click)="detail(item.id)"
      >
        Read more
        <svg
          class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
  }
</div>
