<form [formGroup]="scheduleForm" (ngSubmit)="submitSchedule()" novalidate>
  <input type="hidden" formControlName="id" />
  <div class="bg-white shadow-lg rounded-lg p-6 max-w-4xl mx-auto">
    <div class="border-b pb-4 mb-6">
      <h2 class="text-3xl font-bold text-gray-900">{{ titleForm }} Schedule</h2>
    </div>
    <div class="space-y-6">
      <!-- Branch Selection -->
      <div *ngIf="branchList" class="relative">
        <label class="block text-gray-700 font-medium mb-2">Branch</label>
        <select
          formControlName="branchId"
          (change)="onBranchChange($event)"
          class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-150 ease-in-out"
        >
          <option value="" disabled>Select a branch</option>
          <option *ngFor="let item of branchList" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
        <div *ngIf="errorHandling('branchId')" class="text-red-500 text-sm mt-1">
          {{ errorHandling("branchId") }}
        </div>
      </div>

      <!-- Toggle Switch -->
      <div class="flex items-center space-x-3">
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" formControlName="isRepetitive" class="sr-only peer">
          <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-green-500 rounded-full peer-checked:bg-green-600 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all"></div>
          <span class="text-gray-900 p-2 font-medium"> Repetition</span>
        </label>
      </div>

      <!-- Availability -->
      <div>
        <label class="block text-gray-700 font-medium mb-2">Availability</label>
        <select
          formControlName="availability"
          class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-150 ease-in-out"
        >
          <option value="SCHEDULE">SCHEDULE</option>
          <option value="BLOCK">BLOCK</option>
        </select>
        <div *ngIf="errorHandling('availability')" class="text-red-500 text-sm mt-1">
          {{ errorHandling("availability") }}
        </div>
      </div>

     

      <div>
        <!-- Date for Repetitive Schedule -->
        <div>
          <label class="block text-gray-700 font-medium mb-2">Date Range</label>
          <div class="flex gap-4">
            <input
              type="date"
              formControlName="startDate"
              class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-150 ease-in-out"
              required
              (change)="onStartDateChange($event)"
            />
            <input
              *ngIf="scheduleForm.get('isRepetitive').value"
              type="date"
              formControlName="endDate"
              class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-150 ease-in-out"
              [attr.disabled]="!scheduleForm.get('isRepetitive').value ? true : null"
              required
            />
          </div>
          <div *ngIf="errorHandling('startDate')" class="text-red-500 text-sm mt-1">
            {{ errorHandling("startDate") }}
          </div>
          <div *ngIf="errorHandling('endDate')" class="text-red-500 text-sm mt-1">
            {{ errorHandling("endDate") }}
          </div>
        </div>
        

        <!-- Time Range for Repetitive Schedule -->
        <div>
          <label class="block text-gray-700 font-medium mb-2">Time Range</label>
          <div class="flex gap-4">
            <input
              type="time"
              formControlName="startTime"
              class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-150 ease-in-out"
              required
            />
            <input
              type="time"
              formControlName="endTime"
              class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-150 ease-in-out"
              required
            />
          </div>
          <div *ngIf="errorHandling('startTime')" class="text-red-500 text-sm mt-1">
            {{ errorHandling("startTime") }}
          </div>
          <div *ngIf="errorHandling('endTime')" class="text-red-500 text-sm mt-1">
            {{ errorHandling("endTime") }}
          </div>
        </div>
      </div>

      <!-- Description -->
      <div>
        <label class="block text-gray-700 font-medium mb-2">Description</label>
        <input
          type="text"
          formControlName="description"
          placeholder="Description"
          class="w-full border border-gray-300 rounded-lg p-2 shadow-sm focus:ring-2 focus:ring-green-500 focus:border-green-500 transition duration-150 ease-in-out"
        />
        <div *ngIf="errorHandling('description')" class="text-red-500 text-sm mt-1">
          {{ errorHandling("description") }}
        </div>
      </div>
    </div>

    <div class="flex justify-between mt-6 space-x-4">
      <button
        type="button"
        (click)="onReset()"
        class="bg-red-500 text-white py-2 px-4 rounded-lg shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-500 transition duration-150 ease-in-out"
      >
        Reset
      </button>
      <button
        type="button"
        (click)="onBack()"
        class="bg-gray-500 text-white py-2 px-4 rounded-lg shadow-sm hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 transition duration-150 ease-in-out"
      >
        Back
      </button>
      <button
        type="submit"
        class="bg-green-500 text-white py-2 px-4 rounded-lg shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 transition duration-150 ease-in-out"
      >
        Save
      </button>
    </div>
  </div>
</form>
