@if (data) {

    <div
      @fadeIn
      class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl"
    >
      <div class="md:flex">
        <div class="md:shrink-0">
          <img
            class="h-48 w-full object-cover md:h-full md:w-48"
            src="{{ data?.imageUrl }}"
            alt="Modern building architecture"
          />
        </div>
        <div class="p-8">
          <div
            class="uppercase tracking-wide text-sm text-indigo-500 font-semibold"
          >
            {{ data?.name }}
          </div>
          <a
            class="block mt-1 text-lg leading-tight font-medium text-black hover:underline"
            >{{ data?.description }}</a
          >
          <p class="mt-2 text-slate-500">
            Service Type: {{ data?.serviceType?.name }}
          </p>
          <p class="mt-2 text-slate-500">{{ data?.priceRate | currency }}</p>
          <p class="mt-2 text-slate-500">Service Time: {{ data?.serviceTime }} mins</p>
          <p class="mt-2 text-slate-500">{{ data?.warranty }} months warranty</p>
        </div>
      </div>
    </div>
    }